<div id="main">
  <header class="jumbotron hero-spacer">
    <p>Text your <strong>first name or initials</strong> to <a href="tel:8046328573">804-632-8573</a> to play along.</p>
  </header>

  <div class="row">
    <div class="col-lg-12">
      <h3>Attendees</h3>
    </div>
  </div>

  <div class="row text-center" ng-repeat="(rowNum, participants) in appCtrl.participantRows">
    <div class="col-md-3 col-sm-6 hero-feature" ng-repeat="participant in participants">
      <div class="thumbnail">
        <div class="container"><img src="/assets/images/unknown.png" alt=""/></div>
        <div class="caption">
          <h3 ng-bind="participant.name"></h3>
        </div>
      </div>
    </div>
  </div>
</div>
